.mini-article {
  display: flex;
  border: 1px solid #ededed;
  width: 390px;
  height: fit-content;
  position: relative;
  height: calc(295px / 3);

}

.mini-article-img {
    width: 150px;
    height: 100%;
}

.article-link { 
  position: relative;
  text-decoration: none;
}

.article-link:hover {
  box-shadow: 0 10px 25px -10px #0000001a, 0 4px 6px -2px #0000000d;
}

.article-link:hover .breakdown-arrow{
  display: block;
}

.mini-article-text {
  padding-right: 18px;
  padding-left: 18px;
}

.heading {
  padding-top: 16px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #2b2f43;
}

.text-preview {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #7f7b7b;
}
