.shortArticle{
    display: flex;
    height: 10%;
    border: 1px solid #ededed;
    margin: 4% 7%;
    background: #FFFFFF;
}


.shortarticle__image{
    /*width: 250px;*/
    /*height: 200px;*/
    width: 40%;
}
.shortarticle__body{
    width: 60%;
}

.shortarticle__title{
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2b2f43;
    padding: 5px 18px 13px;
}

.shortarticle__short_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7f7b7b;
    padding-right: 14px;
    padding-left: 14px;
}


.s_img{
    margin: 5px;
    width: 85%;
}