.login-page {
    width: 100%;
    height: 100%;
    background: url(../../icons/background.jpg) top left no-repeat;
    background-size: contain;
    /* 35%; */
}

a.nav-link {
    text-decoration: none;
}

.nav-link {
    padding: 0;
}

.login-header {
    display: flex;
    position: relative;
    height: 10%;
}

.sportshub {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
    height: 100%;
    left: 50%;
    top: 50%;
    background: #D72130;
}

.sportshub__paragraph {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding-top: 7%;
}

.header--right {
    margin: 0 0 0 auto;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    color: #596377;
}

.no-account {
    margin: auto;
    margin-right: 45px;
    width: max-content;
    color: black;
}

.getstarted {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
}

.getstarted Button {
    background-color: #FFFFFF;
    border: 1px solid #D72130;
    margin-right: 35px;
    padding: 2px 25px;
    color: #D72130;
    width: max-content;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
}

.getstarted:hover Button {
    border: 1px solid #D72130;
    background-color: #D72130;
    color: #FFFFFF;
}

.login-form-outer {
    width: 50%;
    margin: 7% 0 0 auto;
    height: 60%;
}

.login-form {
    display: flex;
}

.login-form Form {
    width: 50%;
}

.login-form__headline {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.login-password {
    display: flex;
    margin-bottom: 1%;
}

.form-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #434C5D;
    margin: 3% 0;
}

.form-input {
    color: #C6CCD7;
    height: 5%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    /*color: #434C5D;*/
    margin: 1% 0;
}

.forgot-password {
    margin: 4.5% 0 0 auto;
    width: max-content;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #4A90E2;
}


.login-form__button {
    height: 14%;
    background-color: #D72130;
    border: none;
    margin-right: 35px;
    margin-top: 11%;
    padding: 2px 25px;
    color: #FFF5F5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
}

.login-form__button:hover {
    background-color: #E02232;
    color: #FFF5F5;
}

.login-form__button:active {
    background-color: #C80515;
    color: #FFFF;
}

.login-with {
    display: flex;
    margin: 5% 0;
}

.login-with__facebook {
    width: 40px;
    height: 40px;
    border: 1px solid #B2B2B2;
    border-radius: 50%;
    background-color: transparent;
}

.login-with__google {
    width: 40px;
    height: 40px;
    margin-left: 5%;
    border: 1px solid #B2B2B2;
    border-radius: 50%;
    background-color: transparent;
}

.login-with__facebook:hover,
.login-with__google:hover {
    border: 1px solid #2B2F43;
}

.login-with__google:active, .login-with__facebook:active  {
    border: 1px solid #C80515;
}

.login-with__google:active .login-with__svg {
    fill: #C80515;
}


.login-with__facebook:active .login-with__svg {
    fill: #C80515;
}

.errors {
    color: #D72130;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

}

.login-form__error {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #D72130;
}

.btn {
    border-radius: 0;
}