.reset-password-page{
    width: 100%;
    height: 100%;
    background: url(../../icons/background.jpg) top left no-repeat;
    background-size: contain;
}

a.nav-link {
    text-decoration: none;
    color: #434C5D;
}

.nav-link{
    padding: 0;
}

.reset-header{
    display: flex;
    position: relative;
    height: 8%;
}

.sportshub{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;  /*253px;*/
    height: 100%;
    left: 50%;
    top: 50%;
    background: #D72130;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFBFB;
}

.header--right{
    margin: 0 0 0 auto;
    display: flex;
}

.no-account{
    margin: auto;
    margin-right: 45px;
    width: max-content;
    color: black;
}

.getstarted{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
}

.getstarted Button {
    background-color: #FFFFFF;
    border: 1px solid #D72130;
    margin-right: 35px;
    padding: 2px 50px;
    color: #D72130;
    width: max-content;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
}

.getstarted:hover Button {
    border: 1px solid #D72130;
    background-color: #D72130;
    color: #FFFFFF;
}

.reset-form-outer{
    width: 50%;
    margin: 8% 0 0 auto;
    height: 60%;
}

.reset-form{
    width: 80%;
    display: flex;
}

.form-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #434C5D;
    margin: 5% 0 0 0;
}

.form-input{
    color: #C6CCD7;
    height: 5%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin: 1% 0;
}

.reset-button{
    height: 18%;
}

.reset-button Button{
    background-color: #D72130;
    border: 1px solid #D72130;
    margin-right: 35px;
    margin-top: 8%;
    padding: 2px 25px;
    color: #FFFFFF;
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
}

.reset-button:hover Button {
    border: 1px solid #D72130;
    background-color: #E02232;
    color: #FFF5F5;
}

.back-to-login-button button{
    background-color: #FFFFFF;
    border: none;
    margin-top: 3%;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
}


.errors{
    color: #D72130;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.successfully{
    color: #229D1F;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.check_email_component{
    width: 35%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 45%;
    margin-top: 12%;
}
.check-email-logo{
    /*margin-bottom: 3%;*/
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto 7% auto;
}

