* {
  font-family: "Open Sans", sans-serif;
}

.article {
  position: absolute;
  left: 16.6%;
  top: 22%;
  width: 53%;
  background: white;
}

.article-image {
  margin-top: -36%;
  height: 100%;
  width: 100%;
  max-height: 460px;
  max-width: 814px;
}

.main-text {
  padding-top: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #2b2f43;
}

a {
  color: #d72130;
  text-decoration: none;
}

.main-text > a:hover {
  color: #e02232;
  text-decoration: none;
}

.main-text > a:visited {
  color: #c80515;
  text-decoration: none;
}

.comments-outer-box {
  margin-top: 40px;
  padding: 20px 20px;
  height: fit-content;
  background: #f8f8f8;
}

.comments-count {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.sort-by {
  padding-top: 2px;
  float: right;
  display: flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #d72130;
  background-color: #f8f8f8;
}

.write-comment-box {
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
}

.user-image {
  margin: 14px 14px 14px 18px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border-style: none;
}

.comment-input {
  border-style: none;
  width: 75%;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.comment-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #b2b2b2;
}

.submit-btn {
  margin-left: 10px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 16px;
  color: #7f8899;
  background: #f8f8f8;
}

.read-comment-box {
  padding-top: 12px;
  padding-bottom: 60px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
}

.show-more-less {
  outline: none;
  display: table;
  margin: 0 auto;
  border-style: none;
  padding-top: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #b2b2b2;
  background-color: #f8f8f8;
}

.show-more:hover {
  background-color: #f8f8f8;
}

.show-more-link:hover span,
.show-more-link:hover img {
  transform: scale(1.2, 1.2);
  font-size: 110%;
}

.small-arrow-down, .small-arrow-up {
  display: table;
  margin: 0 auto;
  padding-top: 4px;
}

.small-arrow-up {
  transform: rotate(180deg);
}

.more {
  justify-items: center;
  margin-bottom: 60px;
}

.more-line-l {
  margin-top: 86px;
  margin-bottom: -22px;
  margin-right: 60.6%;
}

.more-line-r {
  margin-left: 60.6%;
  margin-top: -22px;
}

.more-articles {
  display: table;
  margin: 0 auto;
  padding: 11px 33px 12px 33px;
  background-color: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 21px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.mini-articles {
  display: inline-flex;
  flex-flow: row;
}

.mini-articles-r {
  padding-left: 34px;
}
