.n_shortArticle__outer{
    display: flex;
    padding: 2%;
    margin: 3% 17% 3% 17%;
}
.n_shortArticle__outer:hover{
    -webkit-box-shadow: 0 0 30px 2px rgba(222,222,222,1);
    -moz-box-shadow: 0 0 30px 2px rgba(222,222,222,1);
    box-shadow: 0 0 30px 2px rgba(222,222,222,1);
}
.n_shortArticle{
    display: flex;
    margin-top: 2%;
}
.n_shortarticle__image img{
    width: fit-content;
    height: fit-content;
}
.n_shortarticle__body{
    margin: 0 5%;
    width: 100%;
}
.n_shortArticle__outer a.nav-link {
    text-decoration: none;
    color: #434C5D;
    width: 100%;
}
.n_shortarticle__title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B2F43;
}
.n_shortarticle__short_text{
    margin-top: 2%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7F7B7B;
}
.n_shortarticle__bottom{
    display: flex;
    margin-top: 2%;
}
.n_shortarticle__is_published,
.n_shortarticle__category{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7F7B7B;
}
.n_shortarticle__is_published{
    color: black;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.n_shortarticle__is_published__ispubl{
    /*margin-top: 8%;*/
}
.n_shortarticle__is_published__dot{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: #229D1F;
    color: transparent;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-right: 7%;
}
.n_shortarticle__button{
    display: flex;
}
button#dropdown-basic-button{
    box-shadow: none;
}
#dropdown-basic-button{
    background-color: #FFFFFF;
    color: #D72130;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}
#dropdown-basic-button:after,
#dropdown-basic-button:active{
    border: none;
}
#dropdown-basic-button{
    padding: 0;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: none;
}
.btn-primary {
     --bs-btn-color: #fff;
     --bs-btn-bg: #fff;
     --bs-btn-border-color: #fff;
     --bs-btn-hover-color: #D72130;
     --bs-btn-hover-bg: #fff;
     --bs-btn-hover-border-color: #fff;
     --bs-btn-focus-shadow-rgb: 49,132,253;
     --bs-btn-active-color: #D72130;
     --bs-btn-active-bg: #fff;
     --bs-btn-active-border-color: #fff;
     /*--bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);*/
     --bs-btn-disabled-color: #fff;
     --bs-btn-disabled-bg: #fff;
     --bs-btn-disabled-border-color: #fff;
}