.allSidePanelBtns{
    width: 100%;
    height: 100%;
    padding: 0 2%;
}

.sidePanelBtn{
    padding: 1px;
}

.sidePanelBtn button{
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
}
.sidePanelBtn .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color:  #313541;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 20%;
    margin-left: 30%;
    position: absolute;
    z-index: 1;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.sidePanelBtn:hover .tooltiptext {
    visibility: visible;
}

.sidePanelBtn:hover button{
    /*background-color: red;*/
    border: none;
}

.sidePanel_btn:hover *{
    stroke: #D72130;
    visibility: visible;
}

.sidePanelBtn button{
    background: none;
    border: none;
    margin: 5px;
    padding: 18px 15px;
}

.sidePanelBtn button:hover{
    background-color: #EDEDED;
    border-radius: 50%;
}
.sidePanelBtn button:hover svg *{
    stroke: #D72130;
}
