
.change-password-form{
    max-width: 389px;
    margin: 0 auto;
}
.change-password-form input{
    width: 100%;
}

.change-password-button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    margin-top: 35px;
    padding: 10px 0;
    background: #D72130;
    text-transform: uppercase;
    width: 100%;
}