.all_articles_admin__page{
    width: 99%;
    height: 100%;
    margin-right: 0;
    justify-content: center;
}

.all_articles_admin__header{
    display: flex;
    position: relative;
    height: 12%;
}

.all_articles_admin__right_header{
    width: 30%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;

}

.all_articles_admin__right_header button{
    border: none;
    width: 20%;
    padding: 0;
    background-color: transparent;
    justify-content: center;
    text-align: center;
}

.all_articles_admin__right_header button img{
    /*border: none;*/
    width: 50%;
    height: 50%;
    padding: 0;
    background-color: transparent;
}

.sportshub{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;  /*253px;*/
    height: 100%;
    left: 50%;
    top: 50%;
    background: #D72130;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFBFB;
}

.all_articles_admin__current_category__new_article{
    display: flex;
    margin: 2% 5%;
}

.all_articles_admin__new_article{
    margin-top: 0;
    margin-left: auto;
    /*margin-right: 5%;*/
}

.all_articles_admin__current_category{
    /*margin-top: 2%;*/
    /*margin-left: 5%;*/
    /*height: 15%;*/
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}

.all_articles_admin__categories_buttons{
    display: flex;
    align-items: center;
    margin-top: 1%;
    font-weight: bold;
    border: rgba(178, 178, 178, 1) 2px solid;
}
.categories_buttons__left_arrow,
.categories_buttons__right_arrow
{
    height: 100%;
}
.categories_buttons__left_arrow button,
.categories_buttons__right_arrow button
{
    height: 120%;
    border: none;
    background-color: transparent;
}
.categories_buttons__left_arrow button img{
    /*.categories_buttons__right_arrow button img{*/
    transform: rotate(180deg) ;
    /*width: 100%;*/
    /*height: 100%*/
}

.all_articles_admin__body{
    display: flex;
    width: 100%;
    /*margin-left: 2%;*/
}

.all_articles_admin__articles{
    margin: 0 10%;
    width: 85%;
}

.all_articles_admin__left_buttons{
    width: 7%;
    height: 70%;
    border-right: rgba(178, 178, 178, 1) 2px solid;
}

.add_new_article_button{
    height: 100%;
    margin-top: 0;
}

.add_new_article_button button{
    font-size: 18px;
    height: 100%;
    padding: 1%;
}




.categories_buttons__arrow{
    margin:0 2%;
}

.categories_buttons__arrow button{
    border: none;
    background-color: transparent;
    width: 110%;
    height: 100%
}

.categories_buttons__arrow:hover *{  /* ? */
    fill: #D72130;
    stroke: #D72130;
}
.arrow:hover *{       /* ? */
    fill: #D72130;
    stroke: #D72130;
}

.categories_buttons__arrow button img{
    width: 100%;
    height: 100%
}





.add_new_article_button button{
    font-size: 18px;
    height: 100%;
    padding: 1%;
}

.categories_buttons__left_arrow{
    margin:0 2%;
}

.categories_buttons__left_arrow button{
    border: none;
    background-color: transparent;
    width: 110%;
    height: 100%
}


.categories_buttons__left_arrow:hover *{  /* ? */
    fill: #D72130;
    stroke: #D72130;
}
.arrow:hover *{       /* ? */
    fill: #D72130;
    stroke: #D72130;
}

.categories_buttons__left_arrow button img{
    width: 100%;
    height: 100%
}

.all_articles_admin__categories_buttons{
    width: 100%;
}


.card{
    margin: 2%;
}

.scrollmenu{
    margin: 5%;
}



/* pagination */
.pagination__component{
    display: flex;
    justify-content: center;
}
.pagination__back_button {
    width: 40px;
    height: 40px;
    /*border: 2px solid black;*/
    border-radius: 50%;
    /*background: url("../../icons/facebook.svg");*/
    background-size: 35%;
    /*margin-right: 10%;*/
    background: url("../../icons/paginationBack.svg") center no-repeat;
}
.pagination__forward_button {
    width: 40px;
    height: 40px;
    /*border: 2px solid black;*/
    border-radius: 50%;
    /*background: url("../../icons/facebook.svg");*/
    background-size: 35%;
    margin-left: 2%;
    background: url("../../icons/paginationBack.svg") center no-repeat;
    transform: rotate(180deg);
}
.pagination__back_button button,
.pagination__forward_button button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    /*background-size: 35%;*/
    /*margin-right: 10%;*/
}
.pagination__pages{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /*text-align: center;*/
}
.pagination_number_page{
    /*justify-content: center;*/
    /*text-align: center;*/
    margin: 0 5%;
    color: #B2B2B2;

    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.6233766078948975px;
    text-align: left;
}
.pagination_number_active_page{
    /*justify-content: center;*/
    /*text-align: center;*/
    margin: 0 5%;
    color: #C63638;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.6233766078948975px;
    text-align: left;
}