* {
    font-family: "Open Sans", sans-serif;
}
.header-information{
    background-color: #F8F8F8;
    box-sizing: border-box;
    height: 100vh;
}
.nav-bar-information{
    position: relative;
    background-color: #f8f8f8;
}
.nav-bar{
    max-width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.category_page {
    position: relative;
    padding-top: 80px;
    left: 16.4%;
    top: 23.4%;
    width: 53%;
    background: #F8F8F8;
}
.category_page .mini-articles {
    flex-wrap: nowrap;
}