* {
    font-family: "Open Sans", sans-serif;
}
.header-information{
    background-color: #F8F8F8;
    box-sizing: border-box;
    height: 100vh;
}
.nav-bar-information{
    position: relative;
}
.nav-bar{
    max-width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.category_page {
    position: absolute;
    left: 16.4%;
    top: 23.4%;
    width: 53%;
    background: #F8F8F8;
}

.all_articles_body{
//display: flex;
}
.all_articles{
//display: flex;
}
.all_teams{
//display: ;
}

.all_articles_left_buttons{
    width: 10%;
    height: 70%;
}
.more {
    justify-items: center;
    margin-bottom: 60px;
}

.more-lin-l {
    margin-left: 41.6%;
    margin-top: -22px;
}

.more-lin-r {
    margin-left: 48.6%;
    margin-top: -22px;
}

.more-popular {
    display: table;
    padding: 11px 33px 12px 33px;
    font-weight: 700;
}
.more-commented {
    display: table;
    padding: 11px 33px 12px 33px;
    font-weight: 700;
}
.mini-articles {
    display: flex;
}

.mini-articles-r {
    padding-left: 34px;
}