html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.edit-article{
    background-color: #F8F8F8;
    box-sizing: border-box;
}
.edit-article input,.edit-article select,.edit-article textarea{
    background-color: #F8F8F8;
}

.edit-article-header{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 5;
}

.nav-bar-icons{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 18%;
    justify-content: space-between;
    background-color: #F8F8F8;
    border-right: 1px solid #D4D9E2;
}

.form-preview{
    display: flex;
    justify-content: end;
    width: 100%;
}
.button-eye{
    background: none;
    border: none;
}
.img-eye{
    width: 15px;
    height: 10px;
}
.span-preview{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #D72130;
    text-align: center;
    padding-left: 6px;
}

.all_articles_admin__page .form-container{
    padding-top: calc(12.5% + 95px);
    max-width: 814px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.custom-select-container{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
}

.comments-show{
    display: flex;
    justify-content: start;
    width: 100%;
    padding-top: 15px;
}
.span-comments{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #7F8899;
    padding-right: 5px;
    padding-top: 3px;
}
.span-show{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #D72130;
    padding-right: 5px;
    padding-top: 3px;
}
.span-hide{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #2B2F43;
    padding-right: 5px;
    padding-top: 3px;
}
.show-hide-toggle{
    height: 55%;
    color: #D72130;
    background-color: #D72130;
    border-color: #D4D9E2;
}

.show-hide-toggle:checked{

}
.form-check-input:checked{
    background-color: #D72130;
    border: 1px solid #D4D9E2;
}
.article-home-more {
    justify-items: center;
    margin-bottom: 60px;
}

.article-home-more-line-l {
    /*margin-left: 41.6%;*/
    /*margin-top: -22px;*/
    width: 320px;
    height: 0px;
    left: 313px;
    top: 313px;
}

.article-home-more-line-r {
    /*margin-left: 48.6%;*/
    /*margin-top: -22px;*/
    width: 316px;
    height: 0px;
    left: 811px;
    top: 313px;
}
.breakdown-header {
    position: relative;
}

.breakdown-header p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding: 12px 42px;
    margin-top: 0;
    margin-bottom: 0;
}

.article-home-main-header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 21px;

}

.span-add-article-section{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: #D72130;
}
.add-article-section{
    left: 385px;
    top: 933px;
    border: 0;
}

.all_articles_admin__page{
    position: relative;
}

.all_articles_admin__page .admin__header{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 101;
}

.all_articles_admin__page .bottom-header {
    position: fixed;
    right: 0;
    top: 12%;
    left: 0;
    z-index: 100;
}

.all_articles_admin__page .all_articles_admin__categories_buttons {
    position: fixed;
    z-index: 0;
    right: 0;
    left: 0;
    top: calc(12% + 80px);
}















.all_articles_admin__page{
    width: 100%;
    height: 100vh;
    margin-right: 0;
    justify-content: center;
}

.all_articles_admin__header{
    display: flex;
    position: relative;
    height: 12%;
}

.all_articles_admin__right_header{
    width: 30%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.all_articles_admin__right_header button{
    border: none;
    width: 20%;
    padding: 0;
    background-color: transparent;
    justify-content: center;
    text-align: center;
}

.accountSwitcher__button img{
    width: 50%;
    height: 50%;
    padding: 0;
    background-color: transparent;
}

.sportshub{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
    height: 100%;
    left: 50%;
    top: 50%;
    background: #D72130;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFBFB;
}

.all_articles_admin__current_category__new_article{
    display: flex;
    margin: 2% 5%;
}

.all_articles_admin__new_article{
    margin-top: 0;
    margin-left: auto;
}

.all_articles_admin__current_category{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}

.all_articles_admin__categories_buttons{
    display: flex;
    align-items: center;
    margin-top: 1%;
    font-weight: bold;
    /* border: rgba(178, 178, 178, 1) 2px solid; */
}
.categories_buttons__left_arrow,
.categories_buttons__right_arrow
{
    height: 100%;
}
.categories_buttons__left_arrow button,
.categories_buttons__right_arrow button
{
    height: 120%;
    border: none;
    background-color: transparent;
}
.categories_buttons__left_arrow button img{
    transform: rotate(180deg) ;
}

.all_articles_admin__body{
    display: flex;
    width: 100%;
}

.all_articles_admin__articles{
    margin: 0 10%;
    width: 85%;
}

.all_articles_admin__left_buttons{
    width: 100px;
    height: 70%;
    border-right: rgba(178, 178, 178, 1) 2px solid;
}


.categories_buttons__arrow{
    margin:0 2%;
}

.categories_buttons__arrow button{
    border: none;
    background-color: transparent;
    width: 110%;
    height: 100%
}

.categories_buttons__arrow:hover *{
    fill: #D72130;
    stroke: #D72130;
}
.arrow:hover *{
    fill: #D72130;
    stroke: #D72130;
}

.categories_buttons__arrow button img{
    width: 100%;
    height: 100%
}

.categories_buttons__left_arrow{
    margin:0 2%;
}

.categories_buttons__left_arrow button{
    border: none;
    background-color: transparent;
    width: 110%;
    height: 100%
}

.categories_buttons__left_arrow:hover *{
    fill: #D72130;
    stroke: #D72130;
}
.arrow:hover *{
    fill: #D72130;
    stroke: #D72130;
}

.categories_buttons__left_arrow button img{
    width: 100%;
    height: 100%
}

.all_articles_admin__categories_buttons{
    width: 100%;
}
.card{
    margin: 2%;
}
.scrollmenu{
    margin: 5%;
}


/* pagination */
.pagination__component{
    display: flex;
    justify-content: center;
}
.pagination__back_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 35%;
    background: url("../../icons/paginationBack.svg") center no-repeat;
}
.pagination__forward_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 35%;
    margin-left: 2%;
    background: url("../../icons/paginationBack.svg") center no-repeat;
    transform: rotate(180deg);
}
.pagination__back_button button,
.pagination__forward_button button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    border-radius: 50%;
}
.pagination__pages {
    display: flex;
    margin-bottom: 2%;
    align-items: center;
}

button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-page.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root{
    background-color: transparent;
    color: #5C7694;
}
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.Mui-selected.MuiPaginationItem-page.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root{
    color: black;
    font-weight: 500;
}

.all_articles_admin__filter_articles{
    display: flex;
    margin: 4% 17% -2% 17%;
    padding-left: 2%;
    justify-content:space-between;
    letter-spacing: 0;
}

.form-select-sm{
    border-radius: 0;
    margin-left: 2%;
}

.h{
    margin-left: 40%;
    width: 200px;
    height: 50px;
}

.filter_articles{
    width: 30%;
    border: #7F8899 1px solid;
}
#dropdown-basic {
    width: 100%;
    background: transparent;
    color: black;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.dropdown-toggle-filter {
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
#root > div > div > div.all_articles_admin__body > div.all_articles_admin__articles > div.all_articles_admin__filter_articles > div.filter_articles.show.dropdown > div{
    width: 100%;
    border-radius: 0;
}
.dropdown-item {
    width: 100%;
    padding-right: 0;
}
.dropdown-item:hover{
    background-color: transparent;
}
.dropdown-item-active:hover,
.dropdown-item-active{
    width: 100%;
    background-color: rgba(215, 33, 48, 0.11);
    color: #D72130;
}

button#dropdown-basic{
    box-shadow: none !important;
}

.category_button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #B2B2B2;
    margin: 2% 1%;
}
.category_button li{
    list-style-type: none;
    width: max-content;
    border: none;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: rgba(178, 178, 178, 1);
}
.category_button:hover li {
    color: #D72130;
}
.cat_button,
.cat_button:hover {
    marker: none;
    margin-top: 3%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #C63638;
}

.no-articles{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 19px;
    letter-spacing: 0.07rem;
    color: #C63638;
}


.all_articles_admin__category_preview{
    width: max-content;
    display: flex;
    margin: 4% 17% -2% 17%;
    padding-left: 2%;
}
.all_articles_admin__category_preview_text{
    margin-left: 5% ;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #D72130;
}


.all_articles_admin__profile_section{
    width: 250px;
    vertical-align: center;
    align-items: center;
}

.admin__profile_section{
    width: 50%;
    margin-right: 6%;
}

button#dropdown-basic {
    box-shadow: none !important;
    width: 100%;
    height: 100%;
    border: none;
}