.home-articles {
    padding-top: 60px;
}

.main-article-image {
    margin-top: -35%;
    height: 100%;
    width: 100%;
    max-height: 460px;
    max-width: 814px;
}
.v-mini-articles {
    display: flex;
    flex-direction: row;
    margin: 44px -14px;
}

.breakdown-section {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 36px;
    padding: 40px 0 50px;
}

.breakdown-header {
    position: relative;
}

.breakdown-header p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding: 12px 42px;
    margin-top: 0;   
    margin-bottom: 0;
}

.breakdown-header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 21px;

}

.medium-articles{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mini-articles {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.home-page main{
    width: 815px;
    margin-right: 20%;
}

.home-page {
    width: 100%;
    display: flex;
    gap: 120px;
}

.most-popular-and-commented-section{
    width: 100%;
    /*height: 20%;*/
    /*background-color: #4A90E2;*/
    display: flex;

}

.photo-of-the-day {
    width: 100%;
    position: relative;
    margin-top: 65px;
    margin-bottom: 200px; /* temp */
}


.photo-of-the-day img {
    width: 100%;
    /* height: 577px; */
    
}

.photo-triangle {
    position: absolute;
    width: 170px;
    height: 124px;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: #D72130;
    color:#FFFFFF;
    top: -19px;
    left: -11px;
}

.photo-triangle__paragraph{
    width: 62px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    margin: 30px 10px 10px 15px;
}

.text-container {
    width: 100%;
    position: absolute;
    height: 188px;
    bottom: 0;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
    padding: 20px 25px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.text-container p {
    margin: 0;
    width: 70%;

}

.text-container__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding-bottom: 12px;
}

.text-container__caption {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.text-container__author {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    font-style: italic;
}


.most-popular-section{
    width: 48%;
}

.most-commented-section{
    width: 48%;
    margin-left: 4%;
}

