.home-articles {
    padding-top: 60px;
}

.main-article-image {
    margin-top: -28%;
    height: 30%;
    width: 84%;
    max-height: 460px;
    max-width: 814px;
}
.v-mini-articles {
    display: flex;
    flex-direction: row;
    margin: 20px -14px;
}

.breakdown-section {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 36px;
    padding: 40px 0;
}

.breakdown-header {
    position: relative;
}

.breakdown-header p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding: 12px 42px;
    margin-top: 0;   
    margin-bottom: 0;
}

.breakdown-header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 21px;

}

.medium-articles{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mini-articles {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.home-page main{
    width: 80%;
    margin-right: 20%;
}

.home-page {
    width: 100%;
    display: flex;
    gap: 120px;
}

.most-popular-and-commented-section{
    width: 100%;
    /*height: 20%;*/
    /*background-color: #4A90E2;*/
    display: flex;

}

.most-popular-section{
    width: 48%;
}

.most-commented-section{
    width: 48%;
    margin-left: 4%;
}