.team{
    display: flex;
    height: 1%;
    border: black 1px solid;
    /*margin-bottom: 4%;*/
    /*padding-right: 2%;*/
    margin: 4% 7%;
    background: #FFFFFF;
}
#unfollow_button{
    color:red;
}

.team_image {
    width: 40%;
}
.team_body{
    width: 60%;
}

.team_title{
    display: contents;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #2b2f43;
    padding: 5px 18px 13px;
}

.team_following{
    display: block;
    font-weight: 700;
    font-size: 10px;
    line-height: 22px;
    color: #2b2f43;
    padding: 5px 18px 13px;
}