.horizontal_scroll_menu{
    width: 100%;
    justify-content: center;
    z-index: 1;
    border: 1px solid #D4D9E2;
    -webkit-box-shadow: 0 0 30px 2px rgba(222,222,222,1);
    -moz-box-shadow: 0 0 30px 2px rgba(222,222,222,1);
    /*box-shadow: 0 0 30px 2px rgba(222,222,222,1);*/
    box-shadow: 0px 15px 10px -15px rgba(222,222,222,1);
}
.scroll_menu{
    width: max-content;
    margin: 1% 2%;
    justify-content: center;
}

.react-horizontal-scrolling-menu--wrapper{
    width: 100%;
}

.react-horizontal-scrolling-menu--inner-wrapper{
    width: 100%;
}

.horizontal_scroll_menu{
    width: 100%;
    justify-content: center;
    background-color: #FFFFFF;
}
.category_button{
    margin: 7%;
    background-color: #FFFFFF;
}

.react-horizontal-scrolling-menu--arrow-left,
.react-horizontal-scrolling-menu--arrow-right{
    width: max-content;
    margin: 0 1%;
}

/* hide scrollbar */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}
.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.arrow_button{
    border: none;
    background-color: transparent;
}
.left_arrow_button{
    transform: rotate(180deg);
}

.left_arrow_button:hover *,
.right_arrow_button:hover *{
    fill: #D72130;
}

.category_button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #B2B2B2;
    margin: 2% 1%;
}

.category_button button{
    width: max-content;
    border: none;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: rgba(178, 178, 178, 1);
}

.category_button:hover button {
    color: #D72130;
}

.cat_button,
.cat_button:hover {
    marker: none;
    margin-top: 3%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #C63638;
}