.bottom-header {
    width: 100%;
    padding: 0 101px;
    height: 95px;
    border-bottom: 1px solid #D4D9E2;
    border-top: 1px solid #D4D9E2;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-header__tittle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;
    color: #000000;
}

.bottom-header__buttons {
    display: flex;
    gap: 30px;
}

.bottom-header__buttons button {
    border: none;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.buttons__cancel {
    color: #D72130;
}

.bottom-header__buttons .buttons__save {
    background-color: #D72130;
    border: 1px solid #C63638;
    box-sizing: border-box;
    width: 134px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

