.all-components{
    width: 100%;
    padding: 20px;
    height: 8vh;
    border-bottom: 1px solid #D4D9E2;
    background: #FFFFFF;
}

.left-label{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;
    color: #000000;
    left: 5%;
}

.buttons{
    position: absolute;
    right: 7%;
    display: flex;
}

.button-cancel{
    border: none;
    background: none;
    width: 100px;
    height: 36px;
}

.button-save{
    background: #D72130;
    border: 1px solid #C63638;
    box-sizing: border-box;
    width: 100px;
    height: 36px;
}

.span-cancel{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #D72130;
    padding-bottom: 5px;
}
.span-save{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 5px;
}
