
.change-subscription{
    max-width: 389px;
    margin: 0 auto;
    width: 350px;
    background: #F8F8F8;
}
.text{
    width: 224px;
    height: 18.86px;
    left: 20px;
    top: 13.2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #434C5D;
    margin: 4% 7%;
}
.field-input input{
    width: 80%;
    display: flex;
}

.follow-button{
    width: 74px;
    height: 32px;
    left: 193px;
    top: 73px;
    background: #D72130;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #FFF5F5;
    margin: 4% 7%;
}
.search-input{
    box-sizing: border-box;
    width: 248px;
    height: 32px;
    left: 18px;
    top: 74px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    margin: 4% 7%;
}
.search-input input{
    /*height: 55px;*/
    /*width: 100%;*/
    /*outline: none;*/
    /*border: none;*/
    /*border-radius: 5px;*/
    /*padding: 0 60px 0 20px;*/
    /*font-size: 18px;*/
    /*box-shadow: 0px 1px 5px rgba(0,0,0,0.1);*/
}
.search-input.active input{
    border-radius: 5px 5px 0 0;
}
.search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}
.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}
.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background: #efefef;
}
.search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}