.team{
    display: flex;
    width: 284px;
    height: 87px;
    left: 1px;
    top: 222px;
    border: #DEDEDE 1px solid;
}
#unfollow_button{
    width: 12px;
    height: 12px;
    left: 256px;
    top: 251px;
    background: #D72130;

}

#unfollow_button:hover{
    color: red;
    margin: 0px;
    background-color: white;
    font-family: "Roboto", serif;

}

.team_button{
    display: flex;
    justify-content: flex-end;
}

.team_image {
    width: auto;
    padding: 5px;
}

.team_image img{
    border-radius: 15px;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 235px;
}

.team_body{
    width: 100%;
}

.team_title{
    /*display: contents;*/
    display: flex;
    width: 92px;
    height: 19px;
    left: 97px;
    top: 246px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #2B2F43;
}

.team_following{
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    color: #2b2f43;
    /*padding: 5px 18px 13px;*/
    height: auto;
    margin-left: 30px;

}