.input-add-button{
    display: flex;
    flex-direction: row;
}
.change-subscription{
    max-width: 389px;
    margin: 0 auto;
    width: 350px;
    background: #F8F8F8;
}
.text{
    width: 224px;
    height: 18.86px;
    left: 20px;
    top: 13.2px;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #434C5D;
    margin: 4% 7%;
}
.field-input input{
    width: 80%;
    display: flex;
}

.follow-button{
    width: 74px;
    height: 32px;
    left: 193px;
    top: 73px;
    background: #D72130;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #FFF5F5;
    border: none;
}
